body{
	max-width: 100%;
    overflow-x: hidden;
}

.logo{
/*  height: 50%;
  width: 50%;*/
  
  /*background: #e8ebef;*/
  vertical-align: middle;
  text-align: center;
  margin-top: 10%;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
      /*font-family: Geneva;*/
}

.search{
	position: absolute;
	display: block;
	min-height: 15vh;
  	width: 100vw;
  	z-index: 1;
	display: flex;
  	align-items: center;
	justify-content: center;
  	text-align: center;   
}
.sub-search{
	/*margin: 20px 20px 20px 20px;*/
	/*background: yellow;*/
}