body{
	max-width: 100%;
    overflow-x: hidden;
}
.search{
	position: absolute;
	display: block;
	min-height: 100vh;
  	width: 100vw;
  	z-index: 1;
	display: flex;
  	align-items: center;
	justify-content: center;
  	text-align: center;   
}
.sub-search{
	margin: 20px 20px 20px 20px;
	/*background: yellow;*/
}