

.search{
    width : 585px;
    margin-left : 400px;
    margin-top : 350px;
    float : fixed;
 }

#sub_btn{
  width: 80px;
  padding: 8px;
  background-color  : #c8d6e5;
  border: none;
  cursor: pointer;
  border-radius : 4px;
  float:right;
}

.type{
    float: left;
    width : 505px;
    margin : 0;
    padding-bottom : 3px;
    padding-top : 3px;
}

.filter{
    width : 600px;
    margin-left : 10px;
    /*border: 1px solid;*/
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}