{% extends 'base.html' %}

{% load static %}

	{% block title %}
        About Us
    {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aboutus_css.css' %}">

<!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> -->

{% endblock %}


{% block content %}
	<div id="main">
		<h1 class="align-this"><strong>About Us!</strong></h1>
		<p class="align-this">We are a group of third year undergraduate students studying at National Institute of Technology, Durgapur. We faced some difficulties getting our summer internships, so we planned to develop a platform which will help us connect with our seniors as well as batch-mates who are already placed in reputed firms.</p>
		<div class="submain1">	
			<img src="/static/images/h.jpg" alt="Hasan Alirajpurwala">
			<p><strong>Hasan Alirajpurwala</strong></p>
			<p>Competitive Programmer/ Full stack developer</p>
			<p><a href="https://github.com/hasan356">Github Profile</a></p>
			<p><a href="http://codeforces.com/profile/hasan_356">Codeforces Profile</a></p>
			<p>Email: ha.20150181[@btech.nitdgp.ac.in]</p>
			<br>
			<hr>
			<br>
			<img src="/static/images/s.jpeg" alt="Saptarshi Dey">
			<p><strong>Saptarshi Dey</strong></p>
			<p>Competitve Programmer/ Full stack developer</p>
			<p><a href="https://github.com/rishi07">Github Profile</a></p>
			<p><a href="http://codeforces.com/profile/rishi_07">Codeforces Profile</a></p>
			<p>Email: sd.20150010[@btech.nitdgp.ac.in]</p>
		</div>
		<div class="submain2">
			<img src="/static/images/v2.jpeg" alt="Vikas Kumar Patel">
			<p><strong>Vikas Kumar Patel</strong></p>
			<p>Competitive Programmer/ Full stack developer</p>
			<p><a href="https://github.com/vikasnitd">Github Profile</a></p>
			<p><a href="http://codeforces.com/profile/vikas_nitd">Codeforces Profile</a></p>
			<p>Email: vkp.20150017[@btech.nitdgp.ac.in]</p>
			<br>
			<hr>
			<br>
			<img src="/static/images/v1.png" alt="Vishvanath Dutt Sharma" align="middle">
			<p><strong>Vishvanath Dutt Sharma</strong></p>
			<p>ML/ AI Enthusiast/ Full stack developer</p>
			<p><a href="https://github.com/vishvanath45">Github Profile</a></p>
			<p><a href="https://vishvanath45.github.io">Personal Homepage</a></p>
			<p>Email: vnds.20150389[@btech.nitdgp.ac.in]</p>
		</div>
	</div>
{% endblock %}