<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bycomapany.css' %}">
{% endblock %}


{% block content %}
    <div class="main">
        <h1>Results: Starting with {{alpha}}</h1>
        {% for name,cnt in names %}
            <div class="sub-main">
                <span>
                    <p>Company Name: <a href={{ name }}>{{name}}</a></p>
                    <p>Number of people working: {{cnt}}</p>
                </span>
            </div>
        {% endfor %}
    </div>
{% endblock %}