{% extends 'base.html' %}

{% load static %}


    {% block title %}
        Home
    {% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}

<div class = "logo">
<img src= "/static/images/V2SH_Logo_front.png" height = "200" margin-top:20%>
</div>


<div class="search">
        <span class="sub-search">
            <button type="button" class="btn btn-light"><a href="{% url 'bycompany' alpha='a' %}">Search by Company</a></button>
        </span>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        
        <span class="sub-search">
            <button type="button" class="btn btn-light"><a href="{% url 'byname' 'a' %}">Search by Name</a></button>
        </span>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <span class="sub-search">
            <button type="button" class="btn btn-light"><a href="{% url 'byyear' beta='2018' %}">Search by Year of Graduation</a></button>
        </span>
    </div>
{% endblock %}


<script>
    angular.module('buttonsDemo1', ['ngMaterial'])

.controller('AppCtrl', function($scope) {
  $scope.title1 = 'Button';
  $scope.title4 = 'Warn';
  $scope.isDisabled = true;

  $scope.googleUrl = 'http://google.com';

});
</script>