{% extends 'base.html' %}

{% load static %}

{% block head %}
    {% block title %}
        Home
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}

{% block content %}
    <div class="search">
        <span class="sub-search">
            <a href="{% url 'bycompany' alpha='a' %}">Search by Company</a>
        </span>
        <span class="sub-search">
            <a href="facebook.com">Search by Name</a>
        </span>
        <span class="sub-search">
            <a href="{% url 'byyear' beta='2018' %}">Search by Year of Graduation</a>
        </span>
    </div>
{% endblock %}