{% extends 'base.html' %}

{% load static %}

{% block head %}
	<title>Our Mission</title>
{% endblock %}


{% block content %}
<table align="center" >
	<tr>
		<td>
			<h1>Our Mission</h1>
		</td>
	</tr>
</table>
<table align="center"  width="50%">
	<tr>
		<td>
			<p>As we all know, It's very hard to get employed in a good Company/Start-ups. Getting Employed is a very long journey, So in this journey, we are here to help you in step-up.<br> We are here to make you aware about different Company/Start-ups.As well as we will provide you details of our Alumini, who has worked in those Comapny/Start-ups.
			</p>
		</td>
	</tr>
</table>
{% endblock %}
        
                       
                