{% extends 'base.html' %}

{% load static %}

{% block title %}
    Sign Up
{% endblock %}


{% load widget_tweaks %}

{% block content %}



<style>

form {
	margin-top: 5%;
    margin-left: 10%;
    margin-right:25%;
    width: 80%;
}

</style>

<div class="container" style="margin-top : 5.5%;">
    <div class="row justify-content-center">
        <div class="card">
          <div class="card-body">
            <h1 class="text-center logo my-4">
                Sign Up
            </h1>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Create an account</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
          </div>
        </div>
      </div>
    </div>
{% endblock %}