{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Contact_form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}


{% block content %}
<table align="center" border="1px"  style="height: 100px;margin-top: 60px" width="60%">
	<tr align="center">
		<td>
			<h1>Contact Info</h1>
		</td>
	</tr>
</table>
<table align="center" border="1px" width="60%">
	<tr>
		<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
			Name:
			<td>
				<input type="text" placeholder="Your Name">
			</td>
		</td>
			<tr>
				<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
					Branch:
					<td>
						<input type="text" placeholder="Your Branch">
					</td>
					<tr>
						<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
							Year of Graduation:
							<td>
								<input type="text" placeholder="Your Batch">
							</td>
							<tr>
								<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
									Contact Number:
									<td>
										<input type="Number" placeholder="Your Contact Number">
									</td>
									<tr>
										<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
											Email-Id:
											<td>
												<input type="text" placeholder="Your Email-Id">
											</td>
											<tr style="height: 50px">
												<td style="text-align: right; font-size: 20px;" width="40%">
													Internship:
													<td>
														<div id="main">
													        <input type="button" id="btAdd" value="Add" class="bt" style="width: 25%" />
													        <input type="button" id="btRemove" value="Remove" class="bt" style="width: 25%" />
													    </div>
														<div Id="copy-this">
															Company Name:
															<input type="text" placeholder="Company Name"><br><br>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Role:
															<input type="text" placeholder="Role"><br><br>
															Duration:-      From :
															<input type="Month" placeholder="Duration"><br><br>
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To:
															<div class="form-check form-check-inline" style="margin-left: 1%">
															  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
															  <label class="form-check-label" for="inlineCheckbox1">Currently Working Here.</label>
															</div><br><br>
															<input type="Month" id="input" placeholder="Duration" style="margin-left: 27%">
															<br><br>
														</div>
													</td>
													<tr>
														<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
															Job:
															<td>
																<div id="main1">
															        <input type="button" id="btAdd1" value="Add" class="bt1" style="width: 25%" />
															        <input type="button" id="btRemove1" value="Remove" class="bt1" style="width: 25%" />
															    </div>
															</td>
															<tr>
																<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
																	Note to User:
																	<td>
																		<textarea rows="4" cols="50" placeholder="Write Here...."></textarea>
																	</td>
																	<tr>
																		<td style="text-align: right; font-size: 20px; height: 40px" width="40%">
																			Upload Photo:
																			<td>
																				<form>
																				  <div class="form-group" style="margin-top: 12px">
																				    <input type="file" class="form-control-file" id="exampleFormControlFile1">
																				  </div>
																				</form>
																			</td>
																		</td>
																	</tr>
																</td>
															</tr>
														</td>
													</tr>
												</td>
											</tr>
										</td>
									</tr>
								</td>
							</tr>
						</td>
					</tr>
				</td>
			</tr>
	</tr>
</table>
<div align="center">
	<button style="background-color: green; height: 30px; width: 7%; margin-top: 2%;margin-bottom: 5%" >SUBMIT</button>
</div>
<script>
    $(document).ready(function() {

        var iCnt = 0;
        // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
        var container = $(document.createElement('div')).css({
        });

        $('#btAdd').click(function() {
            if (iCnt <=10) {

                iCnt = iCnt + 1;

                // ADD TEXTBOX.
                var pp = $("#copy-this").html();
                $(container).append('<div type=text class="input" id=tb' + iCnt + '>'+iCnt+'<br><br>'+pp+'</div>');
                $('#main').before(container);
            }
            else {      
                $(container).append('<label>Reached the limit</label>'); 
                $('#btAdd').attr('class', 'bt-disable'); 
                $('#btAdd').attr('disabled', 'disabled');
            }
        });

        // REMOVE ONE ELEMENT PER CLICK.
        $('#btRemove').click(function()
        {
            if(iCnt != 0)
            { 
            	$('#tb'+iCnt).remove();
            	iCnt = iCnt - 1;
        		$('#btAdd').removeAttr('disabled') .attr('class', 'bt');
            }
        
            if (iCnt == 0)
            { 
                $(container)
                    .empty() 
                    .remove(); 
                $('#btAdd')
                    .removeAttr('disabled') 
                    .attr('class', 'bt');
            }
        });
    });
</script>
<script>
    $(document).ready(function() {

        var iCnt1 = 0;
        // CREATE A "DIV" ELEMENT AND DESIGN IT USING jQuery ".css()" CLASS.
        var container1 = $(document.createElement('div')).css({
        });

        $('#btAdd1').click(function() {
            if (iCnt1 <= 10) {

                iCnt1 = iCnt1 + 1;

                // ADD TEXTBOX.
                var pp = $("#copy-this").html();
                $(container1).append('<div type=text class="input" id=tb1' + iCnt1 + '>'+iCnt1+'<br><br>'+pp+'</div>');
                $('#main1').before(container1);
            }
            else {      
                $(container1).append('<label>Reached the limit</label>'); 
                $('#btAdd1').attr('class', 'bt-disable'); 
                $('#btAdd1').attr('disabled', 'disabled');
            }
        });

        // REMOVE ONE ELEMENT PER CLICK.
        $('#btRemove1').click(function()
        {
            if(iCnt1 != 0)
            { 
            	$('#tb1'+iCnt1).remove();
            	iCnt1 = iCnt1 - 1;
        		$('#btAdd1').removeAttr('disabled') .attr('class', 'bt1');
            }
        
            if (iCnt1 == 0)
            { 
                $(container1)
                    .empty() 
                    .remove(); 
                $('#btAdd1')
                    .removeAttr('disabled')
                    .attr('class', 'bt1');
            }
        });
    });
</script>
<script type="text/javascript">
	document.getElementById("copy-this").style.display="none";
	document.getElementById("inlineCheckbox1").onclick = function(){
		if(document.getElementById("input").disabled)
			document.getElementById("input").disabled = false;
		else
			document.getElementById("input").disabled = true;
	}
	document.getElementById("inlineCheckbox2").onclick = function(){
		if(document.getElementById("input1").disabled)
			document.getElementById("input1").disabled = false;
		else
			document.getElementById("input1").disabled = true;
	}
</script>
{% endblock %}