{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock %}


{% block content %}

     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<!--      <title>One Page Resume</title> -->

     <style type="text/css">
        * { margin: 0; padding: 0; }
        body { margin-top: 80px; font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
        .clear { clear: both; }
        #page-wrap { width: 800px; margin: 40px auto 60px; }
        #pic { float: right; margin: -30px 0 0 0; }
        h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
        h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
        h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
        p { margin: 0 0 16px 0; }
        a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
        a:hover { border-bottom-style: solid; color: black; }
        ul { margin: 0 0 32px 17px; }
        #objective { width: 500px; float: left; }
        #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
        dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
        dd { width: 600px; float: right; }
        dd.clear { float: none; margin: 0; height: 15px; }
     </style>


    <div id="page-wrap">
    
        <img src="/static/images/s.jpeg" height = "20%" alt="Photo of Cthulu" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">{{ user.name }}</h1>
        
            <p>
            	Branch: <span class="text">{{ user.branch }}</span><br /> 
            	Year of Graduation: <span class="text">{{ user.yog }}</span><br />
                Cell: <span class="tel">{{ user.ph_no }}</span><br />
                Email: <a class="email">{{ user.email }}</a>
            </p>
        </div>
                
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Internship</dt>
            <dd>
                <h2>{{ ie1.comp_name }}</h2>
                
                {{ ie1.joining_date }}
                <br>
                {{ ie1.ending_date  }}
                <br>
                {{ ie1.role }}
            </dd>
            <dd>
                <h2>{{ ie2.comp_name }}</h2>
                
                {{ ie2.joining_date }}
                <br>
                {{ ie2.ending_date  }}
                <br>
                {{ ie2.role }}
            </dd>
            <dd>
                <h2>{{ ie3.comp_name }}</h2>
                
                {{ ie3.joining_date }}
                <br>
                {{ ie3.ending_date  }}
                <br>
                {{ ie3.role }}
            </dd>
            <dd>

                <h2>{{ ie4.comp_name }}</h2>
                
                {{ ie4.joining_date }}
                <br>
                {{ ie4.ending_date  }}
                <br>
                {{ ie4.role }}
            </dd>
            <dd>
                <h2>{{ ie5.comp_name }}</h2>
                
                {{ ie5.joining_date }}
                <br>
                {{ ie5.ending_date  }}
                <br>
                {{ ie5.role }}
            </dd>

            <dd class="clear"></dd>
            
            <dt>Job</dt>
            <dd>
                <h2>{{ je1.comp_name }}</h2>
                
                {{ je1.joining_date }}
                <br>
                {{ je1.ending_date  }}
                <br>
                {{ je1.role }}
            </dd>
            <dd>
                <h2>{{ je2.comp_name }}</h2>
                
                {{ je2.joining_date }}
                <br>
                {{ je2.ending_date  }}
                <br>
                {{ je2.role }}
            </dd>
            <dd>
                <h2>{{ je3.comp_name }}</h2>
                
                {{ je3.joining_date }}
                <br>
                {{ je3.ending_date  }}
                <br>
                {{ je3.role }}
            </dd>
            <dd>
                <h2>{{ je4.comp_name }}</h2>
                
                {{ je4.joining_date }}
                <br>
                {{ je4.ending_date  }}
                <br>
                {{ je4.role }}
            </dd>
            <dd>
                <h2>{{ je5.comp_name }}</h2>
                
                {{ je5.joining_date }}
                <br>
                {{ je5.ending_date  }}
                <br>
                {{ je5.role }}
            </dd>

            
            <dd class="clear"></dd>
            
            <dd class="clear"></dd>

                <!-- {{ user.notes }} -->
            
<!--             <dt>Notes to User</dt>
            <dd>World Domination, Deep Sea Diving, Murder Most Foul</dd> -->
            
            <dd class="clear"></dd>

        </dl>
        
        <div class="clear"></div>
    
    </div>


{% endblock %}