{% extends 'base.html' %}

{% load static %}

{% block head %}
<title>Contact_form</title>
	<style type="text/css">
		
	</style>
{% endblock %}


{% block content %}
<table align="center" border="1px" style="height: 100px" width="60%">
	<tr align="center">
		<td>
			<h1>Contact Info</h1>
		</td>
	</tr>
</table>
<table align="center" border="1px" width="60%">
	<tr>
		<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
			Name:
			<td>
				<input type="text" placeholder="Your Name">
			</td>
		</td>
			<tr>
				<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
					Branch:
					<td>
						<input type="text" placeholder="Your Branch">
					</td>
					<tr>
						<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
							Batch:
							<td>
								<input type="text" placeholder="Your Batch">
							</td>
							<tr>
								<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
									Contact Number:
									<td>
										<input type="text" placeholder="Your Contact Number">
									</td>
									<tr>
										<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
											Email-Id:
											<td>
												<input type="text" placeholder="Your Email-Id">
											</td>
											<tr style="height: 50px">
												<td style="text-align: right; font-size: 20px;" width="39%">
													Internship:
													<td>
														#1<br><br>
														Company Name:
														<input type="text" placeholder="Company Name"><br><br>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Role:
														<input type="text" placeholder="Role"><br><br>
														Duration:- From:
														<input type="Date" placeholder="Duration">
														To:<input type="Date" placeholder="Duration">
													</td>
													<tr>
														<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
															Job:
															<td>
																
															</td>
															<tr>
																<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
																	Note to User:
																	<td>
																		
																	</td>
																	<tr>
																		<td style="text-align: right; font-size: 20px; height: 40px" width="39%">
																			Link Of Your Photo:
																			<td>
																				
																			</td>
																		</td>
																	</tr>
																</td>
															</tr>
														</td>
													</tr>
												</td>
											</tr>
										</td>
									</tr>
								</td>
							</tr>
						</td>
					</tr>
				</td>
			</tr>
	</tr>
</table>
{% endblock %}